# make a copy of this file as local_settings.py and edit that
import settings

# switch this to True if you want to see crash information
# NEVER LEAVE THIS ON FOR A PUBLIC SITE
DEBUG = False

# If you keep DEBUG set to False you will need to set allowed hosts correctly.
# https://docs.djangoproject.com/en/1.5/ref/settings/#std%3asetting-ALLOWED_HOSTS
ALLOWED_HOSTS = []

# this is used for a few random things, it's a pretty good idea to change it
# http://www.miniwebtool.com/django-secret-key-generator/
# SECRET_KEY = ""

# these people will get e-mails with traceback information
ADMINS = (
    #('Freddie', 'freddie@wafflemonster.org'),
)

# database configuration
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.',  # Add 'postgresql_psycopg2', 'postgresql', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': '',                       # Or path to database file if using sqlite3.
        'USER': '',                       # Not used with sqlite3.
        'PASSWORD': '',                   # Not used with sqlite3.
        'HOST': '',                       # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                       # Set to empty string for default. Not used with sqlite3.
    },
    # this database should contain a current version of the Static Data Export
    'import': {
        'ENGINE': 'django.db.backends.',
        'NAME': 'eve_inf12',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    },
}

# change this to the public facing directory for static files, needed for
# './manage.py collectstatic' to work
STATIC_ROOT = '/www/evething.home/static'
# override the default '/static/' for static files
#STATIC_URL = 'http://static.evething.home'

# API host to use, change this if you have an API proxy handy
API_HOST = 'https://api.eveonline.com'
# Number of _permanent_ API key failures per 7 days to trigger punishment,
# 0 to disable
API_FAILURE_LIMIT = 3

# ESI Details
# When you create the ESI application at developers.eveonline.com you should
# fill in this section
ESI_URL = "https://esi.tech.ccp.is/latest"
ESI_UPDATE_INTERVAL = 60  # How often to update in minutes
ESI_RETRIES = 15
ESI_DATASOURCE = "tranquility"
ESI_CLIENT_ID = ''
ESI_SECRET_KEY = ''
ESI_CALLBACK_URL = ''

ESI_SCOPES = [
    #"publicData",
    #"remoteClientUI",
    #"esi-calendar.respond_calendar_events.v1",
    #"esi-calendar.read_calendar_events.v1",
    "esi-location.read_location.v1",
    "esi-location.read_ship_type.v1",
    #"esi-mail.organize_mail.v1",
    "esi-mail.read_mail.v1",
    "esi-mail.send_mail.v1",
    "esi-skills.read_skills.v1",
    "esi-skills.read_skillqueue.v1",
    "esi-wallet.read_character_wallet.v1",
    #"esi-search.search_structures.v1",
    "esi-clones.read_clones.v1",
    #"esi-characters.read_contacts.v1",
    "esi-universe.read_structures.v1",
    #"esi-bookmarks.read_character_bookmarks.v1",
    #"esi-killmails.read_killmails.v1",
    #"esi-corporations.read_corporation_membership.v1",
    "esi-assets.read_assets.v1",
    "esi-planets.manage_planets.v1",
    "esi-fleets.read_fleet.v1",
    #"esi-fleets.write_fleet.v1",
    #"esi-ui.open_window.v1",
    "esi-ui.write_waypoint.v1",
    #"esi-characters.write_contacts.v1",
    "esi-fittings.read_fittings.v1",
    #"esi-fittings.write_fittings.v1",
    "esi-markets.structure_markets.v1",
    "esi-corporations.read_structures.v1",
    #"esi-corporations.write_structures.v1",
    "esi-characters.read_loyalty.v1",
    "esi-characters.read_opportunities.v1",
    #"esi-characters.read_chat_channels.v1",
    "esi-characters.read_medals.v1",
    "esi-characters.read_standings.v1",
    "esi-characters.read_agents_research.v1",
    "esi-industry.read_character_jobs.v1",
    "esi-markets.read_character_orders.v1",
    "esi-characters.read_blueprints.v1"
]

# IP addresses that will see some extra DEBUG info
INTERNAL_IPS = (
    '127.0.0.1',
    '192.168.1.20',
)

# Disable the password tab if you are using external auth
DISABLE_ACCOUNT_PASSWORD = False

# Reject new API keys where keyid < MAX(keyid) added at least half an hour ago.
ONLY_NEW_APIKEYS = True

# Allow new users to register
ALLOW_REGISTRATION = False

# Default stagger APITask calls on startup
STAGGER_APITASK_STARTUP = True

# Market Data URL for prices
# - works on both eve-central or goonmetrics.
# PRICE_URL = 'http://api.eve-central.com/api/marketstat/?station_id=60003760&typeid=%s'
PRICE_URL = 'http://goonmetrics.com/api/price_data/?station_id=60003760&type_id=%s'

# Celery broker URL - http://docs.celeryproject.org/en/latest/getting-started/first-steps-with-celery.html#choosing-a-broker
BROKER_URL = 'amqp://guest:guest@localhost:5672/'

# Cache for various things. You really want to use memcache if at all
# possible, other caches do not guarantee atomic increments.
#
# https://docs.djangoproject.com/en/dev/topics/cache/
CACHES = {
    'default': {
        #'BACKEND': 'django.core.cache.backends.dummy.DummyCache',
        'BACKEND': 'django.core.cache.backends.memcached.MemcachedCache',
        'LOCATION': '127.0.0.1:11211',
        'KEY_PREFIX': 'evething_',
    }
}
