@etWarningBackground:   rgb(253, 248, 236);
@etErrorBackground:     #f9f0f2;
@etSuccessBackground:   rgb(240, 247, 234);
@etInfoBackground:      @alert-info-border;

@etWarningBorder:       lighten(#ae894a, 30%);
@etErrorBorder:         lighten(#a94442, 40%);
@etSuccessBorder:       lighten(#3c763d, 40%);
@etInfoBorder:          @alert-info-text;

@white: #fff;
